<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Inicio.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="inicio inicio">
      <h1 class="hero_title">Cocinna Poblanna</h1>
      <div class="barra">
        <div class="barra_Botones">
          <div class="item">
            <button class="inicio1"><span class="btn__text">Inicio</span></button>
          </div>
          <div class="spacer"></div>
          <div class="item">
            <button class="menu"><span class="btn__text">Menú</span></button>
          </div>
          <div class="spacer"></div>
          <div class="item1">
            <button class="ubicacion"><span class="btn__text1">Ubicacion</span></button>
          </div>
          <div class="spacer"></div>
          <div class="item2">
            <button class="contactos"><span class="btn__text2">Contactos</span></button>
          </div>
        </div>
      </div>
      <img class="decorator" src="/assets/692f9656b71db87137be886c70de0a5d.png" alt="alt text" />
      <div class="informacion">
        <div class="quienesSomos">
          <div class="col">
            <h1 class="hero_title1">¿Quienes somos?</h1>
            <h5 class="highlights">
              Un restaurante que espera recrear los mejores platillos de la cocina poblana conservando las tradiciones y
              la cultura que engloba la gastronomia poblana.
            </h5>
          </div>
        </div>
        <div class="motivacion">
          <div class="col1">
            <h1 class="hero_title1">Motivacion</h1>
            <h5 class="highlights1">
              La satisfaccion de lograr alegrar a nuestros clientes con la exquisita gastronomia poblaba.
            </h5>
          </div>
        </div>
        <div class="historia">
          <div class="col2">
            <h1 class="hero_title1">Historia</h1>
            <h5 class="highlights2">
              La mejor forma de preservar las tradiciones es mediante la herencia que cada uno de nuestros antecesores
              ha tenido la amabilidad de brindar, es por eso que mediante la recoleccion de diversar recetas poblanas
              nacio este gran proyecto gastronomico.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
